{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlowGram</title>

    <!-- linking all styles sheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- linking all js files -->
    <script src="{% static 'js/bootstrap.bundle.js' %}" defer></script>


    {% block extra_js %}{% endblock extra_js %}


</head>

<body>


    {% block body %}{% endblock body %}


</body>

</html>