@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
// variables
$poppins-font: 'Poppins',
sans-serif;
$merriweather-font:'Merriweather Sans',
sans-serif;
$theme-color: #FC5130;
$font-color: #050401;
$bg-color: #f8f8f8;
$overlay-color: #FFFFFF;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins-font;
    color: $font-color;
    background-color: $bg-color;
}

.liked {
    color: $theme-color;
}

.navbar {
    .navbar-brand {
        font-family: $merriweather-font;
    }
}